<div class="card mb-0">
    <div class="flex justify-between mb-4">
        <div>
            <span class="block text-muted-color font-medium mb-4">{{
                options.title
            }}</span>
            <div
                class="text-surface-900 dark:text-surface-0 font-medium text-xl"
            >
                {{ options.current.value }} at
                {{ options.current.referenceDate | date: 'MMM' }}
            </div>
        </div>
        <div
            class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border"
            style="width: 2.5rem; height: 2.5rem"
        >
            <i [class]="options.icon"></i>
        </div>
    </div>
    <span class="text-primary font-medium">{{ options.previous.value }} </span>

    <span class="text-muted-color"
        >at {{ options.previous.referenceDate | date: 'MMM' }}</span
    >
</div>
