<p-card header="Pull Request analysis">
  <p class="m-0">
    The graph bellow show us data about pull requests and relations with
    comments
  </p>
  <div class="pull-request-chart">
    <canvas
      class="demo-chart"
      baseChart
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
    >
    </canvas>
  </div>
  <ng-template #footer>
    <div class="pull-request-datepicker">
      <p-datepicker
        [(ngModel)]="rangeDates"
        selectionMode="range"
        [readonlyInput]="true"
        dateFormat="dd/mm/yy"
        size="small"
        showIcon
        iconDisplay="input"
        fluid="true"
        [showButtonBar]="true"
      >
      </p-datepicker>
    </div>
    <p-button #pullRequestSearchBtn (onClick)="onSearch()" label="Search">
    </p-button>
  </ng-template>
</p-card>
