<p-iftalabel>
    <p-autocomplete
        #autocomplete
        [pAutoFocus]="focus"
        [inputId]="lookupOptions.inputId"
        [style]="{ width: '100%' }"
        [suggestions]="suggestions"
        (completeMethod)="onCompleteMethod($event)"
        (onLazyLoad)="onLazyLoad($event)"
        (onSelect)="onSelectItem($event)"
        (onClear)="onClearSelection($event)"
        [dropdown]="true"
        [lazy]="true"
        [virtualScroll]="true"
        [virtualScrollItemSize]="30"
        [optionLabel]="lookupOptions.optionLabel"
        [dataKey]="lookupOptions.dataKey"
        [forceSelection]="true"
        [placeholder]="lookupOptions.placeholder"
        display="chip"
        [fluid]="true"
        [showClear]="true"
    ></p-autocomplete>
    <label [for]="lookupOptions.inputId"
        >{{ lookupOptions.label ?? '' }}
    </label>
</p-iftalabel>
