.dialog-content {

}


.fieldset-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    p-fieldset {
        flex: 1;
        min-width: 250px;
    }
}

.list-spacing {
    list-style: none;
    padding: 0;

    li:not(:last-child) {
        margin-bottom: 10px;
    }


    li label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
}

.dynamic-content {
    display: block;
    margin-left: 15px;
}
