<p-dialog
    [(visible)]="visible"
    [modal]="true"
    [dismissableMask]="true"
    [header]="pullRequestStats.title"
>
    <div class="fieldset-container">
        <p-fieldset legend="Cycle time">
            <ul class="list-spacing">
                <li>
                    <label>Created at:</label>
                    <span class="dynamic-content">
                        {{
                            pullRequestStats.createdAt
                                | date: "MMM dd 'at' HH:mm (EEE)"
                        }}
                    </span>
                </li>
                <li>
                    <label>Closed at:</label>
                    <span class="dynamic-content">
                        {{
                            pullRequestStats.closedAt
                                | date: "MMM dd 'at' HH:mm (EEE)"
                        }}
                    </span>
                </li>
                <li>
                    <label>Merge Waiting time:</label>
                    <span class="dynamic-content">
                        {{
                            pullRequestStats.mergeWaitingTimeMinutes
                                | minToHours
                        }}
                    </span>
                </li>
                <li>
                    <label>Merge mode:</label>
                    <span class="dynamic-content">
                        {{ pullRequestStats.mergeMode }}
                    </span>
                </li>
            </ul>
        </p-fieldset>

        <p-fieldset legend="Revision time">
            <ul class="list-spacing">
                <li>
                    <label>First comment date:</label>
                    <span class="dynamic-content">
                        {{
                            pullRequestStats.firstCommentDate
                                | date: "MMM dd 'at' HH:mm (EEE)"
                        }}
                    </span>
                </li>
                <li>
                    <label>First comment waiting time:</label>
                    <span class="dynamic-content">
                        {{
                            pullRequestStats.firstCommentWaitingMinutes
                                | minToHours
                        }}
                    </span>
                </li>
                <li>
                    <label>Time in revision:</label>
                    <span class="dynamic-content">
                        {{
                            pullRequestStats.revisionWaitingTimeMinutes
                                | minToHours
                        }}
                    </span>
                </li>
            </ul>
        </p-fieldset>

        <p-fieldset legend="Sizes">
            <ul class="list-spacing">
                <li>
                    <label>File count:</label>
                    <span class="dynamic-content">
                        {{ pullRequestStats.fileCount }}
                    </span>
                </li>
                <li>
                    <label>Thread count:</label>
                    <span class="dynamic-content">
                        {{ pullRequestStats.threadCount }}
                    </span>
                </li>
            </ul>
        </p-fieldset>
    </div>
</p-dialog>
