<p-card header="Filter">
    <div class="filter-container">
        <div class="filter-item">
            <p-iftalabel>
                <p-datepicker
                    [(ngModel)]="lookupRange"
                    selectionMode="range"
                    [readonlyInput]="true"
                    dateFormat="dd/mm/yy"
                    size="small"
                    showIcon
                    fluid
                    iconDisplay="input"
                    [showButtonBar]="true"
                    inputId="inputPeriod"
                    [inputStyle]="{ width: '100%' }"
                ></p-datepicker>
                <label for="inputPeriod">Period</label>
            </p-iftalabel>
        </div>
        <div class="filter-item">
            <app-paginated-lookup
                [lookupOptions]="repoTeamLookupOptions"
                (onLoadData)="loadTeamData($event)"
                [suggestions]="autoFilteredValue"
                [isLoading]="isLoading"
                [pageResponse]="pageResponse"
                [(fieldKey)]="repoTeamId"
            />
        </div>
        <div class="filter-item">
            <app-paginated-lookup
                [lookupOptions]="userTeamLookupOptions"
                (onLoadData)="loadTeamData($event)"
                [suggestions]="autoFilteredValue"
                [isLoading]="isLoading"
                [pageResponse]="pageResponse"
                [(fieldKey)]="userTeamId"
            />
        </div>
    </div>
    <ng-template #footer>
        <div class="flex justify-end">
            <p-button label="Search" (onClick)="onSearchClick()" />
        </div>
    </ng-template>
</p-card>
